

{% extends '__base__.html' %}

{% block title %}{{name}} / {% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

<div class="uk-grid" data-uk-grid-margin="" style="background-color:#fff">
  <div class="uk-width-medium-2-10 uk-hidden-small">
    <p></p>
  </div>
  <div class="uk-width-medium-6-10">
      <div class="uk-grid">
          {{ html_content|safe }}
      </div>
  </div>
  <div class="uk-width-medium-2-10 uk-hidden-small">
    <div class="" style="position:fixed;right:1%;top:88%;z-index:100"  >
      <div class="uk-button-group">
          <a class="uk-button back-to-top" href="#" uk-totop data-uk-smooth-scroll><i class="uk-icon-arrow-up"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
