
{% extends '__base__.html' %}

{% block title %}{{name}} / {% endblock %}

{% block beforehead %}
<!-- <script id="dsq-count-scr" src="//sharixos.disqus.com/count.js" async></script> -->

{% endblock %}

{% block content %}

<!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
<script type="text/javascript">
	SyntaxHighlighter.all()
</script>

<div class="tm-main">

	<div class="uk-grid" style="margin-top:60px">
		<div class="uk-width-medium-2-10 uk-hidden-small">
			<p></p>
		</div>
		<div class="uk-width-medium-6-10" style="background-color:#fff;">
			<article class="uk-article" >
				{{ html_content|safe }}
			</article>
		</div>
		<div class="uk-width-medium-2-10 uk-hidden-medium">
			<p></p>
		</div>
	</div>


	<div class="tm-main">
		<div class="uk-width-medium-1-2 uk-container-center">
			<p>
				<h2>推荐阅读</h2>
			</p>
		</div>

	</div>

	<div class="tm-main" id="bottom">

		<div class="uk-grid">
			<div class="uk-width-medium-1-10 uk-hidden-small">
				<p></p>
			</div>
			<div class="uk-width-medium-8-10 " style="border-top:2px solid grey; ">
				{{ recommend_content | safe}}
			</div>
			<div class="uk-width-medium-1-10 uk-hidden-small">
				<p></p>
			</div>
		</div>
	</div>

</div>
<!-- 模态对话框 -->
<div id="category-id" class="uk-modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h3 class="uk-panel-title">本文概览</h3>
		<ul id="rootul" class="uk-nav-dropdown data-uk-nav" style="color:black;">
		</ul>
	</div>
</div>

{% endblock %}